@keyframes vex-flyin {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/*--------------------------------------------------------------------------------------------------------------------------------------*/

@keyframes vex-flipin-horizontal {
    0% {
        opacity: 0;
        transform: rotateY(-90deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

.m-modal-container * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
}

.m-modal-container {
    background: linear-gradient(to left, black, rgba(0, 0, 0, 0.9));
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    bottom: 1px !important;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: auto;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-Index: 9995;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    animation: vex-flipin-horizontal 0.3s;
    -webkit-backface-visibility: hidden;
}

.m-modal-done {
    animation-delay: 0.3s;
    animation: vex-flyin 0.7s;
    -webkit-backface-visibility: hidden;
}

#m-modal-dialog {
    background-color: transparent;
    margin: auto;
    margin-top: 6% !important;
    margin-bottom: 8% !important;
    max-width: 700px;
    height: auto;
    z-index: 9996;
    position: relative;
}


/*CLOSE BUTTON ::::::::::::::::::::::::::::::::::::::::::::::::::*/

.m-modal-close {
    position: fixed;
    right: 40px;
    top: 20px;
    color: #fff;
    cursor: pointer;
    opacity: 1;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 100%;
    transition: all 0.2s ease-in-out;
    border: none;
    background: transparent;
    padding: 0;
    -webkit-appearance: none;
    right: 10px;
    top: 10px;
    margin-bottom: 30px;
}

.m-modal-close:focus,
.m-modal-close:hover {
    outline: none;
    background: #fff;
}

.m-modal-close:focus:before,
.m-modal-close:focus:after,
.m-modal-close:hover:before,
.m-modal-close:hover:after {
    background: #b93d0c;
}

.m-modal-close span {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.m-modal-close:before,
.m-modal-close:after {
    display: block;
    content: " ";
    position: absolute;
    top: 14px;
    left: 23px;
    width: 4px;
    height: 22px;
    border-radius: 4px;
    background: #fff;
    transition: background 0.2s ease-in-out;
}

.m-modal-close:before {
    transform: rotate(-45deg);
}

.m-modal-close:after {
    transform: rotate(45deg);
}


/* END CLOSE BUTTON :::::::::::::::::::::::::::::::::::::::::::::*/

@keyframes vex-slideup {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    1% {
        transform: translateY(800px);
        opacity: 0;
    }
    2% {
        transform: translateY(800px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.roatation-squar {
    position: fixed;
    width: 100px;
    height: 100px;
    padding: 0;
    list-style: none;
    bottom: 35px !important;
    left: 40px !important;
    animation: vex-slideup 0.5s;
    -webkit-backface-visibility: hidden;
}

.roatation-squar li {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    background: rgba(230, 230, 230, 0.6);
    opacity: 0.8;
}

.roatation-squar li:nth-child(2) {
    animation: rotation1 3s infinite;
    -o-animation: rotation1 3s infinite;
    -moz-animation: rotation1 3s infinite;
    -webkit-animation: rotation1 3s infinite;
}

.roatation-squar li:nth-child(3) {
    animation: rotation2 3s infinite;
    -o-animation: rotation2 3s infinite;
    -moz-animation: rotation2 3s infinite;
    -webkit-animation: rotation2 3s infinite;
    animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.roatation-squar li:nth-child(4) {
    animation: rotation3 3s infinite;
    -o-animation: rotation3 3s infinite;
    -moz-animation: rotation3 3s infinite;
    -webkit-animation: rotation3 3s infinite;
    animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}


/* first rotation */

@keyframes rotation1 {
    from {
        transform: rotate(-360deg);
    }
    30%,
    60% {
        transform: rotate(20deg);
    }
    80% {
        transform: rotate(0);
    }
}

@-o-keyframes rotation1 {
    from {
        -o-transform: rotate(-360deg);
    }
    30%,
    60% {
        -o-transform: rotate(20deg);
    }
    80% {
        -o-transform: rotate(0);
    }
}

@-moz-keyframes rotation1 {
    from {
        -moz-transform: rotate(-360deg);
    }
    30%,
    60% {
        -moz-transform: rotate(20deg);
    }
    80% {
        -moz-transform: rotate(0);
    }
}

@-webkit-keyframes rotation1 {
    from {
        -webkit-transform: rotate(-360deg);
    }
    30%,
    60% {
        -webkit-transform: rotate(20deg);
    }
    80% {
        -webkit-transform: rotate(0);
    }
}


/* second rotation */

@keyframes rotation2 {
    from {
        transform: rotate(-360deg);
    }
    30%,
    60% {
        transform: rotate(45deg);
    }
    80% {
        transform: rotate(0);
    }
}

@-o-keyframes rotation2 {
    from {
        -o-transform: rotate(-360deg);
    }
    30%,
    60% {
        -o-transform: rotate(45deg);
    }
    80% {
        -o-transform: rotate(0);
    }
}

@-moz-keyframes rotation2 {
    from {
        -moz-transform: rotate(-360deg);
    }
    30%,
    60% {
        -moz-transform: rotate(45deg);
    }
    80% {
        -moz-transform: rotate(0);
    }
}

@-webkit-keyframes rotation2 {
    from {
        -webkit-transform: rotate(-360deg);
    }
    30%,
    60% {
        -webkit-transform: rotate(45deg);
    }
    80% {
        -webkit-transform: rotate(0);
    }
}


/* third rotation */

@keyframes rotation3 {
    from {
        transform: rotate(-360deg);
    }
    30%,
    60% {
        transform: rotate(75deg);
    }
    80% {
        transform: rotate(0);
    }
}

@-o-keyframes rotation3 {
    from {
        -o-transform: rotate(-360deg);
    }
    30%,
    60% {
        -o-transform: rotate(75deg);
    }
    80% {
        -o-transform: rotate(0);
    }
}

@-moz-keyframes rotation3 {
    from {
        -moz-transform: rotate(-360deg);
    }
    30%,
    60% {
        -moz-transform: rotate(75deg);
    }
    80% {
        -moz-transform: rotate(0);
    }
}

@-webkit-keyframes rotation3 {
    from {
        -webkit-transform: rotate(-360deg);
    }
    30%,
    60% {
        -webkit-transform: rotate(75deg);
    }
    80% {
        -webkit-transform: rotate(0);
    }
}